@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

::selection      { background: #3c3c3c; color: #a9a8a5; }
::-moz-selection { background: #3c3c3c; color: #a9a8a5; }

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0 auto;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	line-height: 1.7em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #797875;
}

h1, h2, h3 {
	margin: 0 auto .4rem;
	font-weight: 300;
	letter-spacing: -.02em;
	line-height: 1em;
}
h1 {
	font-size: 4em;
	font-weight: 700;
}
h2 { font-size: 3em; }
h3 { font-size: 1.5em; }

a {
	font-weight: bold;
	color: #898885;
	text-decoration: none;
	border-bottom: 2px solid #edede8;
	transition: all 250ms cubic-bezier(.2,.3,.25,.9);
}
a:hover {
	border-color: #a9a8a5;
	text-decoration: none;
}

.centered { display: table; }
.centered {
	position: relative;
	display: table;
	width: 100%;
}
.centered>* {
	display: table-cell;
	vertical-align: middle;
}

#something-amazing {
	display: block;
	margin: 0 auto;
	padding: 120px 2em 60px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1em;
	text-align: center;
	color: #d7d6c5;
	border: 0;
	background-image: url(froggy.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto 90px;
}
#something-amazing:hover { color: #999895; }
@media (max-width: 480px) {
	#something-amazing {
		padding-left: 0;
		padding-right: 0;
	}
}

#followTheFrog {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	padding: 2em;
	text-align: center;
	font-weight: 700;
	border: 0;
	color: #d7d6c5;
}
#followTheFrog a {
	color: #d7d6c5;
	border: 0;
}
#followTheFrog a:hover { color: #999895; }

#disqus_thread {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 2em;
	color: #797875;
}

/* `brand */

.brand {
	color: rgba(255,255,255,0.8);
	font-size: 1.5em;
}
.brand a {
	background-image: url(froggy.png);
	background-position: 0px center;
	background-repeat: no-repeat;
	background-size: 35px;
	border-color: transparent;
	padding: 0px 10px 0px 40px;
	color: rgba(255,255,255,0.8);
	font-weight: 300;
	letter-spacing: -0.04em;
	transition: text-shadow 250ms ease-out;
}
.brand a:hover { text-shadow: 0 0 30px #fff; }
.brand b { font-weight: 700; }
.brand>span { opacity: 0.5; }
.brand>span::before {
	content: ': ';
	font-weight: 700;
}
nav .brand {
	float: left;
	line-height: 50px;
	height: 50px;
}
@media (max-width: 768px) {
	.brand a { padding-left: 30px; }
	.brand a span { display: none }
	.brand>span { opacity: 1; }
}
@media (max-width: 600px) {
	.brand,
	nav .brand {
		float: none;
		background-position: center;
		text-align: center;
	}
	.brand span { display: none; }
}

nav {
	position: relative;
	z-index: 1;
}
nav::after {
	content: '';
	display: block;
	clear: both;
	float: none;
}
nav button { display: none; }
nav>ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}
nav>ul>li {
	float: left;
	position: relative;
	padding-right: 10px;
	color: #fff;
}
nav>ul>li::after {
	content: '●';
	display: block;
	position: absolute;
	top: 0;
	left: -1em;
	line-height: 50px;
	font-size: 0.5em;
	opacity: 0.5;
}
nav>ul>li:first-child::after { display: none; }
nav>ul>li a {
	overflow: hidden;
	position: relative;
	display: block;
	height: 50px;
	padding: 0 0.8em;
	line-height: 3rem;
	border-color: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 54px;
}
nav>ul>li.active a { border-color: rgba(255,255,255,0.1); }
nav>ul>li a:hover {
	color: rgba(255,255,255,0.6);
	border-color: rgba(255,255,255,0.5);
}
@media (max-width: 600px) {
	nav>ul {
		float: none;
		text-align: center;
		width: 100%;
	}
	nav>ul>li {
		float: none;
		padding: 0;
		display: inline-block;
	}
	nav>ul>li a { display: inline-block; }
	nav>ul>li::after { left: -0.5em; }
}

.rainbow {
	position: relative;
	width: 100%;
	z-index: 0;
	background: #797875;
	overflow: hidden;
	transition: background-color 1s;
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.rainbow .bg {
	z-index: -1;
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100vh;
	background-image: url(letters.png);
	background-size: 1000px;
	background-position: -20px -5px;
	opacity: 0.03;
}
.rainbow.intro .bg{
	-webkit-animation: intro 1s ease-out;
	   -moz-animation: intro 1s ease-out;
}
@-webkit-keyframes intro {
	0%   { -webkit-transform: rotate3d(1,0,0,30deg) translate3d(0px,0px,400px);  }
	100% { -webkit-transform: rotate3d(1,0,0,0deg)  translate3d(0px,0.85px,0px); }
}
@-moz-keyframes intro {
	0%   { -moz-transform: rotate3d(1,0,0,30deg) translate3d(0px,0px,400px);  }
	100% { -moz-transform: rotate3d(1,0,0,0deg)  translate3d(0px,0.85px,0px); }
}

.rainbow-static { background-color: #797875; }
.rainbow-static::before {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(letters.png);
	background-size: 500px;
	background-position: -20px -5px;
	transition: background-color 10s;
	opacity: 0.04;
}

footer {
	padding: 100px 30px 30px;
	background-image: url(froggy.png);
	background-position: center 30px;
	background-repeat: no-repeat;
	background-size: 80px auto;
	text-align: center;
}

header {
	height: 80vh;
	color: #fff;
}
header h1 {
	font-weight: 700;
	font-size: 3.5em;
}
header h2 {
	opacity: 0.5;
	font-size: 2em;
}

.short header {
	height: 50vh;
	padding: 60px 30px;
}

@media (max-width: 768px) {
	header h1 {
		font-size: 3em;
		text-align: center;
	}
	header h2 { text-align: center; }
}
@media (max-width: 480px) { header h1 { font-size: 2.3em; } }

.wrapper>* {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 30px;
}
.wrapper nav {
	top: 30px;
	margin-bottom: 30px;
}
@media (max-width: 480px) { .wrapper nav { padding: 0 10px; } }
