.top { background: #3ad; }
.top::after {
	display: block;
	content: '';
	height: 10vh;
}
.archive {
	min-height: 90vh;
	padding: 10vh 30px;
}

.archive ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.archive li {
	clear: both;
	margin-bottom: 20px;
}
.archive a {
	display: block;
	font-weight: 300;
	border-color: transparent;
	color: #fff;
	perspective: 1000px;
}
.archive a:hover { text-shadow: 0px 0px 20px rgba(255,255,255,0.5); }
.archive a:hover .details { transform: translate3d(-10px,0,0); }
.archive a:hover .photo { transform: rotate3d(0,1,0,60deg); }
.archive a>div {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	line-height: 1em;
}
.archive .details {
	padding-left: 10px;
	transition: transform 250ms ease-out;
}
.archive .details>div { opacity: 0.6; }
.archive .photo {
	transform-style: preserve-3d;
	transform: rotate3d(0,1,0,10deg);
	transition: transform 250ms ease-out;
	position: relative;
	overflow: hidden;
	width: 90px;
	height: 90px;
	padding: 8px;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.4);
	box-shadow: 5px 5px 50px rgba(0,0,0,0.2);
}
.archive .photo::before {
	opacity: 0.1;
	z-index: 0;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url(letters.png);
	background-size: 400px;
}
.archive .photo div {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	background-size: cover;
	background-position: center;
}
.archive h3 {
	font-weight: 700;
	font-size: 2em;
}
@media (max-width: 768px) {
	.archive h3 { font-size: 1.5em; }
	.archive .photo {
		width: 70px;
		height: 70px;
		padding: 6px;
	}
}
@media (max-width: 480px) { .archive { min-height: 80vh; } }

.byline {
	color: #b9b8b5;
	font-weight: 400;
	line-height: 1.2em;
}
.byline .photo {
	position: relative;
	overflow: hidden;
	width: 80px;
	height: 80px;
	padding: 8px;
	border-radius: 40px;
	transition: background-color 4s;
}
.byline .photo::before {
	opacity: 0.1;
	z-index: 0;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url(letters.png);
	background-size: 400px;
}
.byline .photo div {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	background-size: cover;
}
.byline .details { border-left: 15px solid transparent; }
.byline .details div:first-child {
	color: #797875;
	font-weight: 700;
}

article {
	max-width: 1024px;
	margin: 0 auto;
	padding: 30px;
	line-height: 1.5em;
}

article p,
article ul,
article ol { margin-bottom: 1em; }

article p:last-child,
article ul:last-child,
article ol:last-child { margin-bottom: 0; }

/* Pull quotes */
article blockquote {
	padding: 0.8em 1.2em 0.4em;
	margin: 0;
	float: left;
	width: 380px;
	font-size: 2.2em;
	font-weight: 300;
	text-align: center;
	line-height: 1.2em;
	position: relative;
}
article blockquote::after {
	content: '”';
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 0.5em;
	overflow: hidden;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	font-family: 'Georgia';
	line-height: 1em;
	opacity: 0.1;
}
@media (max-width: 480px) {
	article blockquote {
		width: 100%;
		font-size: 1.5em;
		padding-bottom: 1.2em;
	}
}
