* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.★ { margin-bottom: 30px; }
body { color: #a9a8a5; }
blockquote {
	color: #bdbdb8;
	padding: 1vw;
	line-height: 1.3em;
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	font-family: 'Georgia', serif;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}
article {
	position: relative;
	background-image: url(froggy.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto 90px;
	margin-bottom: -50px;
}
article:nth-child(1n) { z-index: 9; }
article:nth-child(2n) { z-index: 8; }
article:nth-child(3n) { z-index: 7; }
article:nth-child(4n) { z-index: 6; }
article:nth-child(5n) { z-index: 5; }
article:nth-child(6n) { z-index: 4; }
article:nth-child(7n) { z-index: 3; }
article:nth-child(8n) { z-index: 2; }
article:nth-child(9n) { z-index: 1; }

article:last-child { background: none; }
article:last-child section { padding-bottom: 90px; }

.nav-wrapper {
	width: 100%;
	position: absolute;
	top: -20px;
}
@media (max-width: 768px) { .nav-wrapper { top: -70px; } }
nav {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 30px;
}
@media (max-width: 480px) { nav { padding: 0 10px; } }
section {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px 30px 120px;
}
section>:first-child { margin-top: 0; }
section>:last-child { margin-bottom: 0; }
header {
	overflow: hidden;
	position: relative;
	display: table;
	width: 100%;
	height: 50vh;
	margin: 0;
	padding: 50px 0 30px;
	background: whitesmoke;
	color: #fff;
	text-shadow: 0 0 60px rgba(0,0,0,0.1);
	background-color: #54c8eb;
	-webkit-transition: background-color 3s; /* Don't transition in ff*/
}
header>div {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
header .bg { top: -50px; }
header.intro .bg { -moz-animation: none; }
header h2 span,
header h3 span {
	font-weight: 700;
	opacity: 0.6;
}

h1, h2, h3 {
	max-width: 800px;
	margin-bottom: 1.5rem;
	padding: 0 2rem; 
}
.title h1 { margin: 6rem auto 0.5rem; }

header h2 { font-size: 3rem; }

code { font-weight: bold; }

.title { min-height: 100vh; }
.title h2 {
	font-size: 2em;
	margin-bottom: 4rem;
}
.title h2 span { font-weight: 300; }
.title .editable p {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem;
	font-size: 2em;
	line-height: 1.5em;
}
h3 a {
	font-weight: 300;
	font-size: 2rem;
	color: #fff;
	border-bottom: 3px solid transparent;
	line-height: 1em;
}
h3 a:hover { border-color: rgba(255,255,255,0.2); }

#caret-tease { border-bottom: 3px dotted #edede8; }

.aloha-caret::before {
	content: '';
	display: block;
	position: absolute;
	top: -30px;
	left: -20px;
	width: 40px;
	height: 40px;
	background: url(froggy.png);
	background-size: 40px;
	background-repeat: no-repeat;
	-webkit-animation: hopping 800ms ease-out infinite alternate
}
@media (max-width: 768px) {
	header {
		padding: 6rem 0 4rem;
		text-align: center;
	}
	header .bg { top: -6rem; }
	header h1 { font-size: 3em; }
	header h2 { font-size: 2.5em; }
}
@media (max-width: 480px) { header span { display: block; } }
@-webkit-keyframes hopping {
	0%   { -webkit-transform: translate3d(0px,-10px,0px); }
	100% { -webkit-transform: translate3d(0px,0px,0px);   }
}

/** `codemirror theme **/

.CodeMirror {
	padding: 1em 0;
	height: auto;
	background: transparent;
}
.CodeMirror-lines { padding: 0.5em 0; }
.CodeMirror-hscrollbar { visibility: hidden; }

.cm-s-default                  { color: #ccc }
.cm-s-default .cm-operator     { color: #cba }
.cm-s-default .cm-number       { color: #d9a }
.cm-s-default .cm-unit         { color: #d9a }
.cm-s-default .cm-keyword      { color: #999 }
.cm-s-default .cm-def          { color: #abc }
.cm-s-default .cm-variable     { color: #abc }
.cm-s-default .cm-variable-2   { color: #abc }
.cm-s-default .cm-property     { color: #bab }
.cm-s-default .cm-meta         { color: #bab }
.cm-s-default .cm-comment      { color: #666 }
.cm-s-default .cm-string       { color: #9b9 }
.cm-s-default .cm-string-2     { color: #fff }
.cm-s-default .cm-header       { color: #f63 }
.cm-s-default .cm-tag          { color: #a98 }
.cm-s-default .box-css .cm-tag { color: #dc8 }
.cm-s-default .cm-attribute    { color: #dc8 }
.cm-s-default .cm-strong       { color: #dc8 }
.cm-s-default .cm-em           { color: #dc8 }
.cm-s-default .cm-qualifier    { color: #dc8 }
.cm-s-default .cm-builtin      { color: #dc8 }
.cm-s-default .cm-atom         { color: #dc8 }

.cm-s-default u>span { color: #fff !important; }

.cm-s-default u {
	display: inline-block;
	background: #555;
	color: #fff;
	padding: 0 5px;
	text-decoration: none;
	margin: 5px;
	border-radius: 1em;
	cursor: default;
	-webkit-transition: padding 100ms cubic-bezier(.2,.3,.25,.9), margin 100ms cubic-bezier(.2,.3,.25,.9);
	   -moz-transition: padding 100ms cubic-bezier(.2,.3,.25,.9), margin 100ms cubic-bezier(.2,.3,.25,.9);
	    -ms-transition: padding 100ms cubic-bezier(.2,.3,.25,.9), margin 100ms cubic-bezier(.2,.3,.25,.9);
	     -o-transition: padding 100ms cubic-bezier(.2,.3,.25,.9), margin 100ms cubic-bezier(.2,.3,.25,.9);
	        transition: padding 100ms cubic-bezier(.2,.3,.25,.9), margin 100ms cubic-bezier(.2,.3,.25,.9);
}
.cm-s-default u:hover {
	background: #e67;
	margin: 0px;
	padding: 5px 10px;
}
.cm-s-default pre>span { margin: 0 2.5em 0 1em; }

[data-snippet-link] { margin: 0 5px; }

[data-snippet-link],
[data-snippet-anchor] {
	font-weight: bold;
	color: #898885;
	text-decoration: none;
	border-bottom: 2px solid #edede8;
	white-space: nowrap;
	position: relative;
	font-family: monospace;
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}

[data-snippet-link],
[data-snippet-anchor] { border-bottom: 2px dotted #ddddd8; }

[data-snippet-link]:hover,
[data-snippet-anchor]:hover,
.snippet-highlight {
	border-radius: 1em;
	color: #fff;
	border: 0;
	background: #555;
	padding: 3px 6px;
	margin: 0 -6px;
}

[data-snippet-link]:hover,
[data-snippet-link].snippet-highlight { margin: 0 -1px; }

.snippet {
	position: relative;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
	width: 100%;
	margin: 0 0 1em;
	background: #f9f9f5;
	border: 1px solid #edede8;
	border-radius: 5px;
	font-weight: bold;
	font-family: monospace;
	line-height: 1em;
}
.snippet::after,
.snippet::before {
	display: block;
	position: absolute;
	content: '';
	z-index: 9;
	top: 0;
	left: 0;
	height: 100%;
	width: 1.4em;
	background: linear-gradient(
		to left,
		rgba(249, 249, 245, 0) 0,
		rgba(249, 249, 245, 1) 1em
	);
}
.snippet::after {
	left: auto;
	right: 0;
	background: linear-gradient(
		to right,
		rgba(249, 249, 245, 0) 0%,
		rgba(249, 249, 245, 1) 1em
	);
}

.demo {
	padding: 1em;
	background: #f9f9f5;
	border: 4px dashed #edede8;
	border-radius: 5px;
	transition: all 150ms ease-out;
}
.demo:hover {
	border-color: #ddddd8;
	background: #efefe9;
}
.tryit button {
	color: #d05884;
	background: #f03864;
	color: #fff;
	padding: .5em .8em;
	margin-bottom: .2em;
	border: 4px solid #f03864;
	border-radius: 0.2em;
	min-width: 50px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	    -moz-font-smoothing: antialiased;
	         font-smoothing: antialiased;
}
.tryit button:hover,
.tryit button.active:hover {
	background: #393835;
	border-color: #393835;
}
.tryit button.active {
	background: #b00854;
	text-decoration: underline;
}
